* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f2e8;
  height: 100%;
}

.HeaderPage,
.CoffePage,
.CroissantPage,
.DeliveryPage,
.AboutPage {
  height: 100vh;
  width: 100%;
}

.LocationPage {
  height: 80vh;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1000;
}

#uniqueTitle {
  cursor: auto;
}

.group-links {
  margin-left: 100px;
  display: flex;
  text-align: center;

  p,
  a {
    margin-top: 70px;
    margin-right: 50px;
  }

  p {
    font-size: 24px;
    font-weight: 600;
    height: 30px;
    color: #1a1a1a;
    cursor: pointer;
  }
}

.group-links a {
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #1a1a1a;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.group-links a.active::after,
  .group-links a:hover::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: width 0.3s ease-in-out;
  }

  .group-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
  }

.separate-links {
  margin-left: 30%;
  display: flex;
  text-align: center;

  button {
    height: 48px;
    width: 152px;
    margin-top: 60px;
    margin-right: 30px;
    background-color: #431b1b;
    color: #ffffff;
    border-radius: 39px;
    border: none;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
  }

  button:hover {
    scale: 1.1;
    transition: 0.4s ease-in-out;
  }

  button:active {
    transition: none;
    opacity: 0.6;
  }
}

#LoginButton {
  width: 100px;
  margin-top: 70px;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  z-index: 1;
  text-decoration: none;
  color: #3c0e0e;
  cursor: pointer;
  background-color: transparent;
}

#LoginButton:hover {
  color: #926a6a;
  transition: 0.3s ease-in-out;
}

#LoginButton:active {
  transition: none;
  opacity: 0.6;
}

.header-image {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 220px;
}

main {
  margin-top: 10px;
  margin-left: 150px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #3c0e0e;
  }

  h1 {
    margin-bottom: -25px;
    font-size: 80px;
    font-weight: bold;
    color: #3c0e0e;
  }

  p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    height: 108px;
    width: 450px;
    color: #3c0e0e;
  }
}

.CoffePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/backgroundCoffe.png");
  background-repeat: no-repeat;
  background-size: contain;

  h1 {
    font-size: 40px;
    font-weight: 600;
    color: #3c0e0e;
    border-bottom: 1px solid #3c0e0e;
    margin-bottom: 15px;
  }

  .TextTitle {
    font-size: 16px;
    max-width: 500px;
    font-weight: 400;
    color: #3c0e0e;
    margin-bottom: 20px;
  }

  #CoffeButton {
    font-size: 16px;
    font-weight: 600;
    color: #3c0e0e;
    margin-bottom: 100px;
    cursor: pointer;
  }
}

.CoffeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.CoffesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  img {
    height: 150px;
  }
}

.CoffesContainer.visivel {
  opacity: 1;
  transform: scale(1);
  height: auto;
}

.capuccino {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  height: 468.15px;
  width: 323.65px;
  border-radius: 48px;
  background: rgb(246, 199, 197);
  background: linear-gradient(
    90deg,
    rgba(246, 199, 197, 1) 0%,
    rgba(194, 125, 122, 1) 100%
  );
  color: #ffffff;
  padding: 10px;
}

.cafeComLeite {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  height: 468.15px;
  width: 323.65px;
  border-radius: 48px;
  background: rgb(250, 250, 250);
  background: linear-gradient(
    221deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(84, 21, 17, 1) 100%
  );
  color: #ffffff;
  padding: 10px;
}

.CafePreto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  height: 468.15px;
  width: 323.65px;
  border-radius: 48px;
  background: rgb(10, 9, 9);
  background: linear-gradient(
    90deg,
    rgba(10, 9, 9, 1) 0%,
    rgba(84, 21, 17, 1) 100%
  );
  color: #ffffff;
  padding: 10px;
}

.value {
  font-size: 20px;
  font-weight: 600;
}

.CoffeName {
  font-size: 32px;
  font-weight: 600;
}

.CoffeText {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.DeliveryButton {
  height: 46.17px;
  width: 263.78px;
  border: none;
  border-radius: 25px;

  font-size: 16px;
  font-weight: 600;
}

.DeliveryButton:hover {
  scale: 1.1;
  transition: 0.4s ease-in-out;
}

.DeliveryButton:active {
  opacity: 0.6;
  transition: none;
}

.CroissantPage {
  display: flex;
  align-items: center;
  justify-content: center;

  .CroissantImage {
    height: 449px;
  }

  .price {
    height: 28.65px;
    width: 96.3px;
    text-align: center;

    font-size: 20px;
    font-weight: 600;
    color: #f9c4c4;
    border-radius: 47px;
    background-color: #ffffff;
    opacity: 100%;
  }
}

.CroissantTextContainer {
  margin-right: 300px;

  h1 {
    font-size: 80px;
    font-weight: bold;
    color: #4d1d1d;
    margin-bottom: 20px;
  }

  b {
    border-bottom: 2px solid;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    color: #3c0e0e;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: #3c0e0e;
    width: 300px;
    margin-bottom: 10px;
  }

  #CroissantButton {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
}

.line {
  margin-left: 5px;
  width: 50px;
}

.DeliveryPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeliveryMain {
  border-radius: 48px;
  width: 1127px;
  height: 429px;
  background: rgb(243, 199, 196);
  background: linear-gradient(
    232deg,
    rgba(243, 199, 196, 1) 0%,
    rgba(84, 21, 17, 1) 79%
  );

  .DeliveryImage {
    overflow-x: hidden;
    position: absolute;
    top: 340%;
  }

  .DeliveryText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 55%;
    margin-top: 100px;
    color: #ffffff;

    h2 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    button {
      height: 48px;
      width: 281px;
      border-radius: 25px;
      border: none;

      font-size: 16px;
      font-weight: 600;
    }
    button:hover {
      scale: 1.1;
      transition: 0.4s ease-in-out;
    }
  }
}

.AboutPage {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("./assets/backgroundAbout.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.leftContainer {
  margin-bottom: 70px;
  margin-right: 150px;
  line-height: 300.5%;

  p {
    font-size: 20px;
    font-weight: 600;
    color: #4d1d1d;
  }

  h2 {
    font-size: 48px;
    font-weight: bold;
    width: 450px;
    color: #4d1d1d;
  }
}

.rightContainer {
  p {
    font-size: 16px;
    font-weight: 500;
    color: #3c0e0e;

    max-width: 340px;
    margin-bottom: 20px;
  }

  #RightContainerTitle {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #4d1d1d;
  }
}

.LocationPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LocationMain {
  display: flex;
  width: 1117px;
  height: 457.94px;
  border-radius: 48px;
  color: #ffffff;
  background: rgb(84, 21, 17);
  background: linear-gradient(
    232deg,
    rgba(84, 21, 17, 1) 0%,
    rgba(243, 199, 196, 1) 100%
  );

  .LocationImage {
    position: absolute;
    top: 527%;
    left: 35%;
    z-index: 2;
  }
}

.LocationLeft {
  margin: 50px;
  width: 65%;

  h1 {
    font-size: 80px;
    font-weight: bold;
    max-width: 200px;
    line-height: 100.5%;
    margin-bottom: 30px;
  }

  b {
    border-bottom: 1px solid #ffffff;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
    margin-bottom: 30px;
  }

  #LocationButton {
    font-size: 16px;
    font-weight: 600;
    color: #3c0e0e;
    cursor: pointer;
  }
}

.LocationRight {
  padding-left: 30px;
  padding-top: 30px;
  width: 35%;
  background: linear-gradient(202.65deg, #8f423d 4.72%, #ffffff 102.83%);
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;

  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  hr {
    width: 300px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    width: 300px;
    margin-bottom: 30px;
  }

  .LocationText {
    display: flex;
    gap: 20px;
  }
}

footer {
  height: 40vh;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  a,
  p {
    display: flex;
    flex-direction: column;
    width: 305px;
    font-weight: 300;
    color: #3c0e0e;
  }

  span {
    font-size: 16px;
    font-weight: 500;
  }

  a {
    gap: 10px;
    text-decoration: none;
  }

  .InformationImage {
    margin-top: 10px;
  }
}

.line-bottom {
  margin-left: 370px;
  width: 1117px;
}

.MeowForm {
  position: fixed;
  left: -35%;
  top: 15%;
  z-index: 10;
  background-color: #f9c4c4;
  padding: 15px;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f2e8;
  z-index: 20;
  border-radius: 40px;
  padding: 10px;
  padding-bottom: 100px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #3c0e0e;
  }

  input {
    padding: 10px;
  }

  .normalInputs {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 471px;
    height: 52px;
    border-radius: 56px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding-left: 50px;
  }

  .normalInputs::placeholder {
    color: #3c0e0e;
    opacity: 50%;
    padding-left: 10px;
  }

  .checkBox {
    font-size: 17px;
    font-weight: 500;
    color: #3c0e0e;
    margin-left: 15px;

    input {
      height: 22px;
      width: 26px;
      margin-right: 5px;
    }
  }

  .LoginButton {
    background-color: #3c0e0e80;
    width: 485px;
    height: 57px;
    border-radius: 18px;
    border: none;

    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }

  .LoginButton:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: #431b1b;
  }

  .LoginButton:active {
    opacity: 50%;
    transition: none;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    color: #3c0e0e;
  }

  .OpenRegisterForm {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }

  #logoCat {
    width: 156px;

    position: absolute;
    right: 5px;
    bottom: -30px;
    margin-bottom: 50px;
  }
}

#icon-email {
  position: absolute;
  left: 6%;
  top: 33.5%;
}

#icon-password {
  position: absolute;
  left: 7%;
  top: 45.5%;
}

.FormOut {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100px;
  height: 50px;
  border-top-left-radius: 50px;
  background-color: #3c0e0e;
  opacity: 70%;
  border: none;

  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.DeliveryForm {
  position: fixed;
  right: -40%;
  top: 10%;
  z-index: 10;
  background-color: #f9c4c4;
  padding: 15px;
  border-radius: 50px;
  transition: 0.4s ease-in-out;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 90px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #3c0e0e;
  }

  input {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 471px;
    height: 52px;
    border-radius: 56px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding-left: 20px;
  }

  .OrdersForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #f7f2e8;
    z-index: 20;
    border-radius: 40px;
    padding: 10px;
    padding-bottom: 100px;
  }

  .TextArea {
    width: 471px;
    padding-bottom: 30px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding-left: 20px;
  }

  .SendOrder {
    background-color: #3c0e0e80;
    width: 485px;
    height: 57px;
    border-radius: 18px;
    border: none;

    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }

  .SendOrder:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: #431b1b;
  }

  .SendOrder:active {
    opacity: 50%;
    transition: none;
  }

  #OpenLoginForm {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    color: #3c0e0e;
  }

  #logoCatDelivery {
    width: 156px;

    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.RegisterForm {
  position: fixed;
  left: -35%;
  top: 15%;
  z-index: 10;
  background-color: #f9c4c4;
  padding: 15px;
  border-radius: 50px;
  transition: 0.4s ease-in-out;
}

.UserRegisterForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f7f2e8;
  z-index: 20;
  border-radius: 40px;
  padding: 10px;
  padding-bottom: 100px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #3c0e0e;
  }

  input {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 471px;
    height: 52px;
    border-radius: 56px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding-left: 60px;
  }

  #uniqueInput{
    padding-left: 20px;
  }

  #icon-email-register {
    position: absolute;
    left: 6.5%;
    top: 36.5%;
  }

  #icon-register-password {
    position: absolute;
    left: 7%;
    top: 47.5%;
  }

  #icon-password-confirm {
    position: absolute;
    left: 7%;
    top: 58%;
  }

  .RegisterButton {
    background-color: #3c0e0e80;
    width: 485px;
    height: 57px;
    border-radius: 18px;
    border: none;

    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }

  .RegisterButton:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: #431b1b;
  }

  .RegisterButton:active {
    opacity: 50%;
    transition: none;
  }

  p {
    font-size: 17px;
    font-weight: 500;
    color: #3c0e0e;
  }

  .OpenLoginForm {
    font-size: 17px;
    font-weight: 500;
    width: 100px;
    height: 40px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
  }

  #logoCat {
    width: 156px;

    position: absolute;
    right: 5px;
    bottom: -30px;
    margin-bottom: 50px;
  }
}
